.Results {
  max-width: 720px;
  margin: 10px;
  border-radius: 3px;
  background-color: #1fc8db;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Results.error {
  background-color: #ed6c63;
}

.Results-result {
  padding: 16px 20px;
  text-align: center;
}

.Results-label {
  margin: 0;
  font-size: 21px;
}

.Results-value {
  margin: 10px 0 0 0;
  font-size: 36px;
}

.Results.error .Results-value {
  font-size: 18px;
}

.Results-label,
.Results-unit {
  opacity: 0.8;
}
