.Results {
  max-width: 720px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #1fc8db;
  color: #1fc8db;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Results.error {
  border-color: #ed6c63;
  color: #ed6c63;
}

.Results-item {
  padding: 16px 20px;
  text-align: center;
}

.Results-label {
  margin: 0 0 10px 0;
  font-size: 21px;
}

.Results-content {
  margin: 0;
  font-size: 36px;
}

.Results-content.is-message {
  font-size: 18px;
}

.Results-label,
.Results-unit {
  opacity: 0.7;
}
